* {
    border: 2px solid black;
    text-align: center;
    font-family: Helvetica;
    font-size: 20px;
    color: rgb(17, 111, 17);
}

header {
    padding: 60px;
}

nav {
    padding: 20px;
}

main{
    padding: 27vh;
    width: 30%;
    height: 60px;
}

footer{
    padding: 20px;
}

aside:first-child{
    width: 10%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 30%;
    left: 59%;
}


aside:nth-child(2){
    width: 28.5%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 30%;
    left: 70%;
}


aside:nth-child(3){
    width: 670px;
    height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 56%;
    left: 59%;
}

section{border: 0;}

.Layout4 {
    border: none;
}
